@layer reset, base, tokens, recipes, utilities;
@import "../css/switch.css";
@import "../css/scroll-bar.css";
@import "../css/stars-rating.css";

:root {
}

body {
  font-family: var(--font-exo-2);
  font-display: swap;
  overflow-x: hidden;
}

h1 {
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 500;
}

body,
.header,
.search,
.tile {
  transition:
    background 0.2s,
    border 0.2s;
}

input:focus-visible {
  outline: none;
}

.logo {
  font-family: var(--font-zen-tokyo);
  font-size: 42px;
  color: var(--colors-primary);
  text-align: center;
  margin-top: 6px;
}

.react-loading-skeleton {
  line-height: unset !important;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 997;
  animation: fade-in 0.4s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
